<input type="checkbox" id="menu-toggle" />
<div class="sidebar">
  <div class="side-content">
    <div class="side-menu">
      <ul>
        <li>
          <a routerLink="/admin" class="active">
            <span class="las la-home"></span>
            <small>Dashboard</small>
          </a>
        </li>
        <li>
          <a routerLink="/admin/department">
            <span>
              <i class="fa-solid fa-building-user"></i>
            </span>
            <small>Department</small>
          </a>
        </li>
        <li>
          <a routerLink="/admin/staff">
            <span class="las la-user-alt"></span>
            <small>Staff</small>
          </a>
        </li>
        <li>
          <a>
            <span>
              <i class="fa-solid fa-money-check-dollar"></i>
            </span>
            <small>Salary</small>
          </a>
        </li>
        <li>
          <a>
            <span>
              <i class="fa-solid fa-person-walking-arrow-right"></i>
            </span>
            <small>Leave Request</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
