<input type="checkbox" id="menu-toggle" />
<div class="sidebar">
  <div class="side-content">
    <div class="side-menu">
      <ul>
        <li>
          <img
            src="assets/logo123.png"
            class="ml-4"
            alt="logo"
            class="logo"
            height="60"
            style="margin-top: 1.5rem"
          />
        </li>
        <hr />
        <li>
          <a routerLink="/admin">
            <span class="las la-home"></span>
            <small>Dashboard</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/admin/department">
            <span>
              <i class="fa-solid fa-building-user"></i>
            </span>
            <small>Department</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/admin/staff">
            <span class="las la-user-alt"></span>
            <small>Staff</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/admin/salary">
            <span>
              <i class="las la-wallet"></i>
            </span>
            <small>Salary</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/admin/staffleave">
            <span>
              <i class="fa-solid fa-person-walking-arrow-right"></i>
            </span>
            <small>Leave Request</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/admin/attendance">
            <span class="las la-users"></span>
            <small>Attendance</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p class="text-center mb-0">Developer contact!</p>
    <div class="contact-icon">
      <a
        href="https://www.linkedin.com/in/nayan-suhagiya-1a2971259"
        target="_blank"
      >
        <i class="lab la-linkedin-in"></i>
      </a>
      <a href="https://join.skype.com/invite/ynf66r0DZq0M" target="_blank">
        <i class="lab la-skype"></i>
      </a>
      <a href="https://github.com/nayan-suhagiya" target="_blank">
        <i class="lab la-github"></i>
      </a>
      <a href="mailto: suhagiya.nayan01@gmail.com" target="_blank">
        <i class="las la-envelope"></i>
      </a>
    </div>
  </div>
</div>
