<header>
  <div class="header-content">
    <div class="py-3">
      <small class="text-primary">Home / {{ dpart }}</small>
    </div>
    <!-- <div class="py-3">
      <div
        class="text-decoration-underline"
        routerLink="/staff/profile"
        style="cursor: pointer"
        title="view profile!"
      >
        <span class="user-icon me-2 text-primary"
          ><i class="las la-user-tie"></i
        ></span>
        <span class="text-secondary">Hi {{ loggedInData.fname }}</span>
      </div>
    </div> -->
    <div class="header-menu ms-auto py-3">
      <!-- <div
        class="me-2 mt-1 full-screen"
        (click)="openFullscreen()"
        *ngIf="!isFullScreen"
      >
        <i
          class="las la-expand-arrows-alt text-secondary"
          style="font-size: 22px"
        ></i>
      </div>
      <div
        class="me-2 mt-1 full-screen"
        (click)="closeFullscreen()"
        *ngIf="isFullScreen"
      >
        <i class="las la-compress-arrows-alt" style="font-size: 22px"></i>
      </div> -->
      <!--
      <div class="notify-icon">
        <span class="las la-envelope"></span>
        <span class="notify">4</span>
      </div> -->

      <!-- <button
        type="button"
        routerLink="/admin/leavedays"
        class="btn btn-sm btn-outline-secondary me-2"
        (click)="logOut()"
        style="display: flex; border: 1px solid #9da4b9"
      >
        <span class="las la-sign-out-alt" style="font-size: 1.3rem"></span>
        <span> Logout</span>
      </button> -->

      <div class="dropdown">
        <button
          class="btn btn-sm btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user"></i> {{ loggedInData.fname }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="/staff/profile"
              style="cursor: pointer"
            >
              Update Profile!
            </a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" (click)="logOut()" style="cursor: pointer"
              >Logout</a
            >
          </li>
        </ul>
      </div>

      <label for="menu-toggle" class="mb-2">
        <span class="las la-bars ms-3 mt-2 text-primary"></span>
      </label>
    </div>
  </div>
</header>
