/* .checkin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5dc1a9;
  cursor: pointer;
}

.checkin .las {
  font-size: 25px;
} */

.user-icon {
  font-size: 18px;
  border: 1px solid;
  padding: 4px 6px;
  border-radius: 360%;
}
