<input type="checkbox" id="menu-toggle" />
<div class="sidebar">
  <div class="side-content">
    <div class="side-menu">
      <ul>
        <li>
          <a routerLink="/staff" class="active">
            <span class="las la-home"></span>
            <small>Dashboard</small>
          </a>
        </li>
        <li>
          <a routerLink="/staff/attendance" class="active">
            <span class="las la-users"></span>
            <small>Attendance</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
