<input type="checkbox" id="menu-toggle" />
<div class="sidebar">
  <div class="side-content">
    <div class="side-menu">
      <ul>
        <li>
          <img
            src="assets/logo2.png"
            class="ml-4"
            alt="logo"
            class="logo"
            height="50"
            style="margin-top: 1.5rem"
          />
        </li>
        <hr class="text-info" />
        <li>
          <a routerLink="/staff">
            <span class="las la-home"></span>
            <small>Dashboard</small>
          </a>
        </li>
        <li>
          <a routerLink="/staff/attendance">
            <span class="las la-users"></span>
            <small>Attendance</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
