<app-sidebar-staff></app-sidebar-staff>
<div class="main-content">
  <app-header-staff [loggedInData]="loggedInData"></app-header-staff>
  <main>
    <div class="page-content">
      <div class="analytics">
        <div class="card">
          <div class="card-head">
            <h2>{{ date | date : "mediumTime" }}</h2>
            <span class="las la-user-clock"></span>
          </div>
          <div class="card-progress">
            <small>{{ date | date : "mediumDate" }}</small>
            <div class="card-indicator">
              <div class="indicator two" style="width: 100%"></div>
            </div>
          </div>
          <div class="setCheckBtn">
            <button
              class="checkin mb-2 p-1 border-0"
              (click)="checkIn()"
              [hidden]="checkin"
            >
              <span class="me-2">check in </span>
              <span class="las la-user-check"></span>
            </button>
            <button
              class="checkin mb-2 p-1 border-0"
              (click)="checkOut()"
              [hidden]="checkout"
            >
              <span class="me-2">check out </span>
              <span class="las la-user-check"></span>
            </button>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>{{ totalLeaveRequest }}</h2>
            <span class="las la-arrow-circle-right"></span>
          </div>
          <div class="card-progress">
            <small>Your Leave</small>
            <div class="card-indicator">
              <div class="indicator four" style="width: 100%"></div>
            </div>
          </div>
          <div class="text-center link-page" routerLink="/staff/leave">
            <small
              >Apply Leave!
              <i class="fa-solid fa-arrow-up-right-from-square"></i
            ></small>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
