h1 {
  margin-top: 83px;
}

header {
  margin-top: 71px;
}

.checkin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5dc1a9;
  cursor: pointer;
}

.checkin .las {
  font-size: 25px;
}

.setCheckBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
