<header>
  <div class="header-content">
    <div class="mt-3 py-3">
      <small>{{ loggedInData.email }}</small>
    </div>
    <div class="header-menu ms-auto py-3 mt-3">
      <label for="">
        <span class="las la-search"></span>
      </label>

      <div class="notify-icon">
        <span class="las la-envelope"></span>
        <span class="notify">4</span>
      </div>

      <div class="notify-icon">
        <span class="las la-bell"></span>
        <span class="notify">3</span>
      </div>

      <!-- <label for="menu-toggle">
        <span class="las la-bars"></span>
      </label> -->
    </div>
  </div>
</header>
<main>
  <div class="page-content"></div>
</main>
