<!-- <input type="checkbox" id="menu-toggle" />
<div class="sidebar">
  <div class="side-content">
    <div class="side-menu">
      <ul>
        <li>
          <a routerLink="/admin">
            <span class="las la-home"></span>
            <small>Dashboard</small>
          </a>
        </li>
        <li>
          <a routerLink="/admin/department">
            <span>
              <i class="fa-solid fa-building-user"></i>
            </span>
            <small>Department</small>
          </a>
        </li>
        <li>
          <a routerLink="/admin/add-staff">
            <span class="las la-user-alt"></span>
            <small>Staff</small>
          </a>
        </li>
        <li>
          <a>
            <span>
              <i class="fa-solid fa-money-check-dollar"></i>
            </span>
            <small>Salary</small>
          </a>
        </li>
        <li>
          <a>
            <span>
              <i class="fa-solid fa-person-walking-arrow-right"></i>
            </span>
            <small>Leave Request</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<app-sidebar></app-sidebar>

<div class="main-content">
  <app-header [part]="dpart"></app-header>
  <main>
    <div class="page-content">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Staff</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            (click)="generateRandomEmpID()"
          >
            Add Staff
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Empid</th>
              <th scope="col">Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Department</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">BirthDate</th>
              <th scope="col">JoiningDate</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Address</th>
              <th scope="col">Password</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allStaffData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ data.empid }}</td>
              <td>{{ data.fname }}</td>
              <td>{{ data.gender }}</td>
              <td>{{ data.dname }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.mobile }}</td>
              <td>{{ data.dob | date : "mediumDate" }}</td>
              <td>{{ data.jdate | date : "mediumDate" }}</td>
              <td>{{ data.city }}</td>
              <td>{{ data.state }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.password }}</td>
              <td>
                <div class="btn-group">
                  <button
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop1"
                    (click)="editData(data)"
                  >
                    <span
                      class="las la-pencil-alt text-warning action-icon icon-left"
                    ></span>
                  </button>
                  <button class="btn" (click)="deleteData(data.empid)">
                    <span
                      class="las la-trash-alt text-danger action-icon icon-right"
                    ></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

<!-- Add Staff Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Add staff member
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #staffForm="ngForm" (ngSubmit)="staffFormSubmit()">
          <div class="form-group">
            <label for="empid">EMPID</label>
            <input
              type="text"
              class="form-control"
              id="empid"
              placeholder="EMP001"
              [(ngModel)]="staffData.empid"
              disabled="true"
              name="empid"
              required
            />
          </div>
          <div class="form-group">
            <label for="fname">Full Name </label>
            <input
              type="text"
              class="form-control"
              id="fname"
              placeholder="Surname Firstname Middlename"
              [(ngModel)]="staffData.fname"
              name="fname"
              #fname="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="fname.invalid && fname.touched"
            >
              Please enter full name!
            </div>
          </div>

          <div class="form-group">
            <label for="gender">Select Gender </label>
            <select
              id="gender"
              name="gender"
              required
              class="form-control"
              #gender="ngModel"
              [(ngModel)]="staffData.gender"
            >
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <div
              class="alert mt-2 alert-danger"
              *ngIf="gender.invalid && gender.touched"
            >
              Please select gender!
            </div>
          </div>

          <div class="form-group">
            <label for="dname">Select Department </label>
            <select
              id="dname"
              name="dname"
              required
              class="form-control"
              #dname="ngModel"
              [(ngModel)]="staffData.dname"
              (change)="updateDeptID(staffData.dname)"
            >
              <option [value]="dname" *ngFor="let dname of allDeptName">
                {{ dname }}
              </option>
            </select>
            <div
              class="alert mt-2 alert-danger"
              *ngIf="dname.invalid && dname.touched"
            >
              Please select department name!
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email </label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="test@gmail.com"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [(ngModel)]="staffData.email"
              name="email"
              #email="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="email.invalid && email.touched"
            >
              Please enter valid email!
            </div>
          </div>

          <div class="form-group">
            <label for="mobile">Mobile </label>
            <input
              type="text"
              class="form-control"
              id="mobile"
              placeholder="99***87*31"
              name="mobile"
              pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
              [(ngModel)]="staffData.mobile"
              #mobile="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="mobile.invalid && mobile.touched"
            >
              Please enter valid mobile number!
            </div>
          </div>

          <div class="form-group">
            <label for="dob">DOB </label>
            <input
              type="date"
              class="form-control"
              id="dob"
              [(ngModel)]="staffData.dob"
              name="dob"
              #dob="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="dob.invalid && dob.touched"
            >
              Please select birthdate!
            </div>
          </div>

          <div class="form-group">
            <label for="jdate">Joining Date </label>
            <input
              type="date"
              class="form-control"
              id="jdate"
              [(ngModel)]="staffData.jdate"
              name="jdate"
              #jdate="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="jdate.invalid && jdate.touched"
            >
              Please select joining date!
            </div>
          </div>

          <div class="form-group">
            <label for="city">City </label>
            <input
              type="text"
              class="form-control"
              id="city"
              placeholder="city"
              [(ngModel)]="staffData.city"
              name="city"
              #city="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="city.invalid && city.touched"
            >
              Please enter city!
            </div>
          </div>

          <div class="form-group">
            <label for="state">State </label>
            <input
              type="text"
              class="form-control"
              id="state"
              placeholder="state"
              [(ngModel)]="staffData.state"
              name="state"
              #state="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="state.invalid && state.touched"
            >
              Please enter state!
            </div>
          </div>

          <div class="form-group">
            <label for="address">Address </label>
            <input
              type="text"
              class="form-control"
              id="address"
              [(ngModel)]="staffData.address"
              placeholder="123,street,area name,pincode"
              name="address"
              #address="ngModel"
              required
            />
            <div
              class="alert mt-2 alert-danger"
              *ngIf="address.invalid && address.touched"
            >
              Please enter address!
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="resetForm()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-info"
              data-bs-dismiss="modal"
              [disabled]="!staffForm.valid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Staff Modal -->
<div
  class="modal fade"
  id="staticBackdrop1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Add staff member
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #staffForm="ngForm" (ngSubmit)="updateSubmit()">
          <div class="form-group">
            <label for="empid">EMPID</label>
            <input
              type="text"
              class="form-control"
              id="empid"
              placeholder="EMP001"
              [(ngModel)]="editableStaff.empid"
              disabled="true"
              name="empid"
              required
            />
          </div>
          <div class="form-group">
            <label for="fname">Full Name </label>
            <input
              type="text"
              class="form-control"
              id="fname"
              placeholder="Surname Firstname Middlename"
              [(ngModel)]="editableStaff.fname"
              name="fname"
              #fname="ngModel"
              required
            />
          </div>

          <div class="form-group">
            <label for="gender">Select Gender </label>
            <select
              id="gender"
              name="gender"
              required
              class="form-control"
              #gender="ngModel"
              [(ngModel)]="editableStaff.gender"
            >
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="form-group">
            <label for="dname">Select Department </label>
            <select
              id="dname"
              name="dname"
              required
              class="form-control"
              #dname="ngModel"
              [(ngModel)]="editableStaff.dname"
              (change)="updateDeptIDEditable(editableStaff.dname)"
            >
              <option [value]="dname" *ngFor="let dname of allDeptName">
                {{ dname }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="email">Email </label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="test@gmail.com"
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              [(ngModel)]="editableStaff.email"
              name="email"
              #email="ngModel"
              required
            />
          </div>

          <div class="form-group">
            <label for="mobile">Mobile </label>
            <input
              type="text"
              class="form-control"
              id="mobile"
              placeholder="99***87*31"
              name="mobile"
              pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
              [(ngModel)]="editableStaff.mobile"
              #mobile="ngModel"
              required
            />
          </div>

          <div class="form-group">
            <label for="dob">DOB </label>
            <input
              type="date"
              class="form-control"
              id="dob"
              name="dob"
              required
            />
          </div>

          <div class="form-group">
            <label for="jdate">Joining Date </label>
            <input
              type="date"
              class="form-control"
              id="jdate"
              [(ngModel)]="editableStaff.jdate"
              name="jdate"
              #jdate="ngModel"
              required
            />
          </div>

          <div class="form-group">
            <label for="city">City </label>
            <input
              type="text"
              class="form-control"
              id="city"
              placeholder="city"
              [(ngModel)]="editableStaff.city"
              name="city"
              #city="ngModel"
              required
            />
          </div>

          <div class="form-group">
            <label for="state">State </label>
            <input
              type="text"
              class="form-control"
              id="state"
              placeholder="state"
              [(ngModel)]="editableStaff.state"
              name="state"
              #state="ngModel"
              required
            />
          </div>

          <div class="form-group">
            <label for="address">Address </label>
            <input
              type="text"
              class="form-control"
              id="address"
              [(ngModel)]="editableStaff.address"
              placeholder="123,street,area name,pincode"
              name="address"
              #address="ngModel"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="callNgOn()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-info" data-bs-dismiss="modal">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
