<!-- <input type="checkbox" id="menu-toggle" />
<div class="sidebar">
  <div class="side-content">
    <div class="side-menu">
      <ul>
        <li>
          <a routerLink="/admin" class="active">
            <span class="las la-home"></span>
            <small>Dashboard</small>
          </a>
        </li>
        <li>
          <a routerLink="/admin/department">
            <span>
              <i class="fa-solid fa-building-user"></i>
            </span>
            <small>Department</small>
          </a>
        </li>
        <li>
          <a routerLink="/admin/staff">
            <span class="las la-user-alt"></span>
            <small>Staff</small>
          </a>
        </li>
        <li>
          <a>
            <span>
              <i class="fa-solid fa-money-check-dollar"></i>
            </span>
            <small>Salary</small>
          </a>
        </li>
        <li>
          <a>
            <span>
              <i class="fa-solid fa-person-walking-arrow-right"></i>
            </span>
            <small>Leave Request</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<app-sidebar></app-sidebar>

<div class="main-content">
  <app-header [part]="dpart"></app-header>
  <main>
    <div class="page-content">
      <div class="analytics">
        <div class="card">
          <div class="card-head">
            <h2>{{ totalDept }}</h2>
            <span class="las la-building"></span>
          </div>
          <div class="card-progress">
            <small>Total Department</small>
            <div class="card-indicator">
              <div class="indicator two" style="width: 100%"></div>
            </div>
          </div>
          <div routerLink="/admin/department" class="text-center link-page">
            <small
              >View more! <i class="fa-solid fa-arrow-up-right-from-square"></i
            ></small>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>{{ totalStaffMemeber }}</h2>
            <span class="las la-user-friends"></span>
          </div>
          <div class="card-progress">
            <small>Total Staff Member</small>
            <div class="card-indicator">
              <div class="indicator one" style="width: 100%"></div>
            </div>
          </div>
          <div routerLink="/admin/staff" class="text-center link-page">
            <small
              >View more! <i class="fa-solid fa-arrow-up-right-from-square"></i
            ></small>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>&#8377;0</h2>
            <span class="las la-rupee-sign"></span>
          </div>
          <div class="card-progress">
            <small>Total Paid Salary</small>
            <div class="card-indicator">
              <div class="indicator three" style="width: 100%"></div>
            </div>
          </div>
          <div routerLink="/admin/salary" class="text-center link-page">
            <small
              >View more! <i class="fa-solid fa-arrow-up-right-from-square"></i
            ></small>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>{{ totalLeaveRequest }}</h2>
            <span class="las la-arrow-circle-right"></span>
          </div>
          <div class="card-progress">
            <small>Leave Request</small>
            <div class="card-indicator">
              <div class="indicator four" style="width: 100%"></div>
            </div>
          </div>
          <div routerLink="/admin/staffleave" class="text-center link-page">
            <small
              >View more! <i class="fa-solid fa-arrow-up-right-from-square"></i
            ></small>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>Attendance</h2>
            <span class="las la-users"></span>
          </div>
          <div class="card-progress">
            <small>Staff Attendance</small>
            <div class="card-indicator">
              <div class="indicator five" style="width: 100%"></div>
            </div>
          </div>
          <div routerLink="/admin/attendance" class="text-center link-page">
            <small
              >View more! <i class="fa-solid fa-arrow-up-right-from-square"></i
            ></small>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
