<input type="checkbox" id="menu-toggle" />
<div class="sidebar">
  <div class="side-content">
    <div class="side-menu">
      <ul>
        <li>
          <img src="assets/logo123.png" class="ml-4" alt="logo" class="logo" height="60" style="margin-top: 1.5rem" />
        </li>
        <hr />
        <li>
          <a routerLink="/staff">
            <span class="las la-home"></span>
            <small>Dashboard</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/staff/attendance">
            <span class="las la-users"></span>
            <small>Attendance</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/staff/leave">
            <span class="las la-arrow-circle-right"></span>
            <small>Leave</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/staff/salary">
            <span>
              <i class="las la-wallet"></i>
            </span>
            <small>Salary</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
        <li>
          <a routerLink="/staff/my-work">
            <span>
              <i class="las la-list-alt"></i>
            </span>
            <small>My Work</small>
          </a>
          <hr class="sidebar-hr" />
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p class="text-center mb-0">Developer contact!</p>
    <div class="contact-icon">
      <i class="lab la-linkedin-in"></i>
      <i class="lab la-skype"></i>
      <i class="lab la-github"></i>
      <i class="las la-envelope"></i>
    </div>
  </div>
</div>