<!-- <nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container-fluid">
    <img
      src="assets/logo2.png"
      class="ml-4"
      alt="logo"
      class="logo my-2"
      height="45"
    />
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" style="filter: invert(1)"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse"> -->
<!-- <ul class="navbar-nav text-center ms-auto mb-2 mb-md-0">
        <li><a class="nav-link px-3 link-light">Home</a></li>
        <li><a class="nav-link px-3 link-light">Features</a></li>
        <li><a class="nav-link px-3 link-light">Show Profile</a></li>
        <li><a class="nav-link px-3 link-light">Contact</a></li>
        <li><a class="nav-link px-3 link-light">About</a></li>
      </ul> -->
<!-- <div class="ms-auto text-center" role="search">
        <button
          type="button"
          class="btn btn-outline-info me-2"
          routerLink="/login"
          *ngIf="!isLogin()"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-outline-info me-2"
          *ngIf="isLogin()"
          (click)="logOut()"
        >
          Logout
        </button> -->
<!-- <button type="button" class="btn btn-info">Sign-up</button> -->
<!-- </div>
    </div>
  </div>
</nav> -->

<router-outlet></router-outlet>
