<div class="container">
  <div class="row loginForm">
    <div class="col-sm-6 col-md-5 col-lg-4 m-auto mt-4">
      <main class="form-signin shadow-lg">
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit()">
          <div class="text-center">
            <img
              src="assets/logo123.png"
              class="ml-4"
              alt="logo"
              class="logo"
              height="70"
            />
          </div>
          <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="STAFFID or USERNAME"
              name="username"
              [(ngModel)]="loginData.username"
            />
          </div>
          <div class="form-group mt-3" style="display: flex">
            <input
              [type]="password"
              class="form-control"
              id="password"
              placeholder="PASSWORD"
              name="password"
              [(ngModel)]="loginData.password"
              style="border-right: 0px"
              autocomplete="on"
            />
            <span (click)="showHideClick()">
              <i
                class="las la-eye form-control"
                style="font-size: 22px; border-left: 0px"
                aria-hidden="true"
                *ngIf="!show"
              ></i>

              <i
                class="las la-eye-slash form-control"
                style="font-size: 22px; border-left: 0px"
                aria-hidden="true"
                *ngIf="show"
              ></i>
            </span>
          </div>
          <div class="text-center">
            <button class="w-60 mt-3 btn btn-info" type="Submit">
              Sign in
            </button>
          </div>
          <div class="mt-2">
            <p>
              <a
                routerLink="/forgot-password"
                class="text-primary"
                style="cursor: pointer"
                >Forgot password ?</a
              >
            </p>
          </div>
        </form>
      </main>
    </div>
  </div>
</div>
