<header>
  <div class="header-content">
    <div class="py-3">
      <small class="text-primary">Home / {{ part }}</small>
    </div>
    <div class="header-menu ms-auto py-3">
      <!-- <label for="">
        <span class="las la-search"></span>
      </label> -->

      <button
        type="button"
        routerLink="/admin/leavedays"
        class="btn btn-sm btn-outline-secondary me-2"
      >
        Add Off Days
      </button>

      <button
        type="button"
        routerLink="/admin/leavedays"
        class="btn btn-sm btn-outline-secondary me-2"
        (click)="logOut()"
        style="display: flex; border: 1px solid #9da4b9"
      >
        <span class="las la-sign-out-alt" style="font-size: 1.3rem"></span>
        <span> Logout</span>
      </button>

      <label for="menu-toggle">
        <span class="las la-bars ms-3 mt-1"></span>
      </label>
    </div>
  </div>
</header>
